@import url('https://fonts.googleapis.com/css?family=Open+Sans');
html {
   margin: 0;
   padding: 50px 0;
   font-family: 'Open Sans', sans-serif;
   background: #fafafa;
}

body {
   max-width: 960px;
   margin: 0 auto;
   padding: 25px;
   background: #FFF;
   position: relative;
   -webkit-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   -moz-box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
   box-shadow: 0 1px 4px rgba(0, 0, 0, 0.3), 0 0 40px rgba(0, 0, 0, 0.1) inset;
}

body:before, body:after {
   content: "";
   position: absolute;
   z-index: -1;
   -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
   -moz-box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
   box-shadow: 0 0 20px rgba(0, 0, 0, 0.8);
   top: 0;
   bottom: 0;
   left: 10px;
   -moz-border-radius: 100px / 10px;
   border-radius: 100px / 10px;
}

body:after {
   right: 10px;
   left: auto;
   -webkit-transform: skew(8deg) rotate(3deg);
   -moz-transform: skew(8deg) rotate(3deg);
   -ms-transform: skew(8deg) rotate(3deg);
   -o-transform: skew(8deg) rotate(3deg);
   transform: skew(8deg) rotate(3deg);
}

header {
   text-align: center;
}

.margin-top-none {
   margin-top: 0;
}

.margin-bottom-none {
   margin-bottom: 0;
}

a {
   text-decoration: none;
   font-weight: bold;
}

a:link, a:visited {
   color: #003840;
}

a:hover, a:focus {
   color: #aeaeae
}

h1, h2, h3 {
   text-align: center;
}

h4 {
   font-size: 1.1em;
}

.profile {
   border-radius: 100px;
}

.year {
   font-size: .75em;
   font-style: italic;
}

/* FORM */

.wrap {
   text-align: center;
   margin-top: 30px;
}

.btn {
   position: relative;
   display: inline-block;
   min-width: 60px;
   padding: 8px 15px;
   border-radius: 3px;
   text-decoration: none;
   text-align: center;
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
   font-size: 14px;
   color: #fff !important;
   background: #003840;
   box-shadow: inset 0 -1px 0 1px rgba(0, 0, 0, 0.1), inset 0 -10px 20px rgba(0, 0, 0, 0.1);
   transition: color .1s ease;
}

.btn:hover {
   background: rgba(0, 0, 0, 0.9);
}

.btn.btn-big {
   min-width: 100px;
   padding: 15px 20px;
   font-size: 18px;
}

.btn-close {
   position: absolute;
   top: 0;
   right: 5px;
   text-decoration: none;
   color: #aaaaaa;
   font-size: 30px;
}

.btn-close:hover {
   color: #919191;
}

.modal:before {
   content: "";
   display: none;
   background: rgba(0, 0, 0, 0.6);
   position: fixed;
   top: 0;
   left: 0;
   right: 0;
   bottom: 0;
   z-index: 10;
}

.modal:target:before {
   display: block;
}

.modal:target .modal-dialog {
   -webkit-transform: translate(0, 0);
   -ms-transform: translate(0, 0);
   transform: translate(0, 0);
   top: 10%;
}

.modal-dialog {
   z-index: 21;
   position: fixed;
   top: -100%;
   width: 85%;
   max-width: 870px;
   margin: 5%;
   border: #333333 solid 1px;
   border-radius: 5px;
   background: #fefefe;
   -webkit-transform: translate(0, -500%);
   -ms-transform: translate(0, -500%);
   transform: translate(0, -500%);
   -webkit-transition: -webkit-transform 0.3s ease-out;
   -moz-transition: -moz-transform 0.3s ease-out;
   -o-transition: -o-transform 0.3s ease-out;
   transition: transform 0.3s ease-out;
}

.modal-body {
   padding: 20px;
}

.modal-header, .modal-footer {
   padding: 10px 20px;
}

.modal-header {
   text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.2);
   border-bottom: #eeeeee solid 1px;
}

.modal-header h2 {
   font-size: 20px;
}

.modal-footer {
   border-top: #eeeeee solid 1px;
   text-align: right;
}

/*FORM*/

input, textarea {
   font-family: 'Open Sans', sans-serif;
   font-weight: 300;
   width: 100%;
   margin: 8px 0;
   text-indent: 1em;
   padding: 10px 0;
   border-radius: 3px;
   border: 1px solid lightgray;
}

input[type="submit"] {
   background-color: #4d90fe;
   color: white;
   border: 1px solid #3079ed;
}

input[type="submit"]:hover {
   background-color: #4d9aff;
   color: white;
}